// Load Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

$white:       #fff;
$offwhite:    #f6f6f6;
$grey:        #5f6061;
$darkgrey:    #58595a;
$blue:        #23527c;
$darkblue:    #233960;
$orange:      #fdb317;
$silvergrey:  #e8e8e8;
$black:       #000;


$color-main: $black;
$color-backgrounds: $white;
$color-headlines: $darkblue;


$font-main: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-weight-normal:normal;
$font-weight-bold:bold;